<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model -->
      <package
            uri="http://vitruv.tools/methodologisttemplate/autoSAR"
            class="tools.vitruv.methodologisttemplate.model.autoSAR.autoSARPackage"
            genModel="src/main/ecore/autoSAR.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model2 -->
      <package
            uri="http://vitruv.tools/methodologisttemplate/simuLink"
            class="tools.vitruv.methodologisttemplate.model.simuLink.SimuLinkPackage"
            genModel="src/main/ecore/simuLink.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated simuLink -->
      <package
            uri="http://vitruv.tools/methodologisttemplate/simulink"
            class="simulink.SimuLinkPackage"
            genModel="src/main/ecore/simuLink.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated autoSAR -->
      <package
            uri="http://vitruv.tools/methodologisttemplate/autosar"
            class="autosar.AutoSARPackage"
            genModel="src/main/ecore/autoSAR.genmodel"/>
   </extension>

</plugin>
